.Rproj.user
.Rhistory
.RData
.Ruserdata
C_F_AdultChartReview_2020to2022.xlsx
C_F_AllPatients_2020to2023.xlsx
C_F_All_Insurance_Pull.xlsx
2020 to 2023 analysis w: CR and insurance.nb.html
~$C_F_AdultChartReview_2020to2022.xlsx
graphs_workbook.R
_dat-cmoDiagnosis_2023_08_24_1237.csv
C_F_Trauma.csv
study.types.csv
scratch book.Rmd
scratch book.nb.html
SA_pts_reformatted
SA_pts_reformatted.csv
~/.boxr-oauth
~$OR_Table_Data.xlsx
